@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #0b0f1a; /* neutraler App-Hintergrund */
}

/* optional: Buttons nicht global "kaputtstylen" */
button {
  font-family: inherit;
}
